.titulo {
    text-align: center;
    margin-top: 25px;
    font-size: 55px;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.log {
    background-color: rgb(255, 253, 253);
   margin-top: 100px;
   width: 55%;
}