 
<div  mat-dialog-content>
    <h1 appFont >{{ editarUser ? 'editar' : 'crear usuario'}}</h1>
    <form [formGroup]="userform" class="">
        <div class="col">
            <mat-form-field appearance="outline" >
                <mat-label>nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name"/> 
            </mat-form-field>
        </div>    
        <div class="col">
            <mat-form-field  appearance="outline">
                <mat-label>apellido</mat-label>
                <input formControlName="apellido" matInput type="text" name="apellido"/> 
            </mat-form-field> 
        </div> 
        <div class="col">
            <mat-form-field  appearance="outline">
                <mat-label>direccion</mat-label>
                <input formControlName="direccion" matInput type="text" name="direccion"/> 
            </mat-form-field> 
        </div>     
        <div class="col">
            <mat-form-field  appearance="outline">
                <mat-label>email</mat-label>
                <input formControlName="email" matInput type="email" name="email"/> 
            </mat-form-field>
        </div>    
        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>contraseña</mat-label>
                <input formControlName="password" matInput type="password" name="password"/> 
            </mat-form-field>  
        </div>  
        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select [formControl]="controlRol">
                    <mat-option value="Usuario">Usuario</mat-option>
                    <mat-option value="Administrador">Administrador</mat-option>
                </mat-select>     
            </mat-form-field>  
        </div>  
        <div>
            <button (click)="onSubmit()" mat-button color="basic" type="button">
                Guardar
            </button>
            <button mat-button mat-dialog-close color="basic" type="button">
                Cancelar
            </button>
        </div>    
    </form>
</div>
